* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
    
}

#cadastro {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 10px 0px 0px 20px;
    border: 2px solid black;
    text-align: justify;
}

#button {
    padding: 2px 7px 2px 7px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}