* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, black, aquamarine);
    color: whitesmoke;
}

h1 {
    background-image: linear-gradient(to right, aquamarine, rgb(219, 209, 209));
    box-shadow: 2px 2px 7px white;
    width: 90vh;
    margin: auto;
    margin-top: 2px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 3em;
    padding: 10px;
    padding-bottom: 20px;
}

form {
    background-image: linear-gradient(to right, aquamarine, rgb(219, 209, 209));
    box-shadow: 2px 2px 7px white;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bolder;
}

p#resp {
    background-image: linear-gradient(to right, aquamarine, rgb(219, 209, 209));
    box-shadow: 2px 2px 7px white;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

footer {
    width: 100%;
    background-image: linear-gradient(to right, aquamarine, rgb(219, 209, 209));
    box-shadow: 2px 2px 7px white;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}

footer a:hover {
    font-size: 1.3em;
    text-shadow: 4px 4px 9px black;
}